<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
</head>
<body>
        
        <h2>Student {{students.first_name}}'s Detils' </h2>
                <h3>First Name : {{students.first_name}} </h3>
                <h3>Middle Name : {{students.middle_name}} </h3>
                <h3>Last Name : {{students.last_name}} </h3>
                <h3>Roll : {{students.roll}} </h3>
                <h3>Email: {{students.email}} </h3>
                <h3>Class: {{students.class_name}} </h3>
                <h3>Section: {{students.section}} </h3>


</body>
</html>